<div class="d-flex justify-content-center">
  <%= form_for @form, url: urls_path, html: { class: "form-inline" } do |f| %>
    <div class="row">
      <div class="col-md-6">
	<%= f.text_field :original_url, class: "form-control" %>
      </div>
      <div class="col-md-6">
	<%= f.submit "Shorten", class: "btn btn-primary"%>
      </div>
    </div>
  <% end %>
</div>

<div class="alert">
  <%= shortened_url(@url) %>
</div>

<div class="popular-link">
  <%= link_to "Popular URLs", popular_urls_path %>
</div>
